<h1>Documentación Módulo Comentarios</h1>
<hr>
<h3>Requerimiento 1 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>1</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Mostrar Comentario</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Mostrar todos los comentarios guardados en la base de datos</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Usuario, Redactor, Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON: [
            {
                "id": 11,
                "comentario": "comentario 3",
                "fecha": "2024-07-10T05:00:00.000Z",
                "id_usuario": 11,
                "nombre_usuario": "Leomar Andres",
                "id_publicacion": 65,
                "nombre_publicacion": "Cafe Huilense "
            }
        ] <br>

            Incorrecto:
            Status: 404
            JSON{
                "mensaje":"No hay comentarios"
            } <br>

            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 2 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>2</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Crear comentario</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite crear un comentario proporcionando los datos requeridos</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>POST</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Usuario, Redactor, Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td>
            JSON:{
                "comentario": "comentario 2",
                "id_usuario": 1,
                "id_publicacion": 3,
            }
        </td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON{
                "mensaje": "Comentario creado con exito"
            } <br>

            Incorrecto:
            Status: 404
            JSON{
                "mensaje": "No se pudo crear el comentario"
            } <br>

            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 3 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>3</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Actualizar comentario</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios/:id</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Actualizar un comentario mediante su ID</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>PUT</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Usuario, Redactor, Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td>
            JSON{
                "comentario": "lorem ipsum"
            }
        </td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON{
                "mensaje": "Comentario actualizado"
            } <br>

            Incorrecto:
            Status: 404
            JSON{
                "mensaje": "No se pudo actualizar el comentario"
            } <br>

            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 4 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>4</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Mostrar un comentario por su ID</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios/listar/:id</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Muestra un comentario por medio de su ID</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Usuario, Redactor, Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON: {
                "id": 11,
                "comentario": "comentario 3",
                "fecha": "2024-07-10T05:00:00.000Z",
                "id_usuario": 11,
                "nombre_usuario": "Leomar Andres",
                "id_publicacion": 65,
                "nombre_publicacion": "Cafe Huilense "
            } <br>
          
            Incorrecto:
            Status: 404
            JSON{
                "mensaje":"no se encontró el comentario"
            } <br>
 
            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 5 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>5</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Eliminar un comentario</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios/:id</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Elimina un comentario por medio de su ID</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>DELETE</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Administradores</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON{
                "mensaje": "Haz eliminado con exito el comentario"
            } <br>
            Incorrecto:
            Status: 404
            JSON{
                "mensaje": "No se encontró el comentario"
            } <br>

            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 6 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>6</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Mostrar cantidad de comentarios</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios/contar</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite ver la cantidad de comentarios registrados en la base de datos</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON{
                "total": "1"
            } <br>
            Incorrecto:
            Status: 404
            JSON{
                "mensaje": "No se encontraron comentarios"
            } <br>
            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 7 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>7</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Mostrar comentarios por fecha</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios/:fechaInicio/:fechaFin?</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite buscar por fechas los comentarios registrados en la base de datos</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON:{
                "comentarios": [
                    {
                        "id": 11,
                        "comentario": "comentario 3",
                        "fecha": "2024-07-10T05:00:00.000Z",
                        "id_usuario": 11,
                        "nombre_usuario": "Leomar Andres",
                        "id_publicacion": 65,
                        "nombre_publicacion": "Cafe Huilense "
                    }
                ]
            } <br>
            Incorrecto:
            Status: 404
            JSON {
                "mensaje": "No se encontraron comentarios para las fechas proporcionadas"
            } <br>
            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 8 Documentación Del ENDPOINT COMENTARIOS</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>8</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Mostrar los comentarios de una publicación</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/comentarios/publicacion/:idPublicacion</td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite buscar los comentarios de una publicación cregistrada en la base de datos</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>USUARIOS</td>
        <td>Administrador</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON: {
                "total": 1,
                "comentarios": [
                    {
                        "id": 11,
                        "comentario": "comentario 3",
                        "fecha": "2024-07-10T05:00:00.000Z",
                        "id_usuario": 11,
                        "nombre_usuario": "Leomar Andres",
                        "id_publicacion": 65,
                        "nombre_publicacion": "Cafe Huilense "
                    }
                ]
            } <br>
            Incorrecto:
            Status: 400
            JSON {
                "mensaje": "No se encontró una publicación con ese ID"
            },
            Status: 404
            JSON {
                "mensaje": "No hay comentarios para esta publicación"
            } <br>
            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
